
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(245,244,246);
    font-family: 'Source Code Pro', monospace;
}
h1{ 
    font-family: 'Playfair Display', serif;
    padding: 25px;
    font-size: 80px;
    font-weight: lighter;
}

#h1{
    width: 75%;
}

#h4{
    padding: 0 0 10px 25px;
    width: 60%;
    line-height: 30px;
    letter-spacing: -1px;
}

#btn {
    color: #fff;
    background-color: black;
    padding: 10px 10px;
    border-radius: 20px;
    width: 120px;
    border-style: none;
}

#btndiv{
    padding: 10px 25px;
}

/*encabezado*/
.header {
    margin: 0 5px;
    padding: 15px 15px 10px 15px; 
    border-bottom: 1.5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

a {
    text-decoration: none;
    color: black;
}

.logo a > div {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.logo img {
    padding-right: 5px;
}

.secciones div, .sesion div{
    display: inline-block;
    padding: 0px 20px;
    font-size: 15px;
    letter-spacing: -2px;
}

/*CARRUSEL*/
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.wrapper .carousel{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.wrapper .card{
    /*background: rgb(47, 47, 201);*/
    /*line-height: 250px;
    text-align: center;
    font-weight: 600;
    /* color: #fff;*/
    /*font-size: 90px;*/
    width: 325px;
    height: 325px;
    margin: 20px 20px;
    border-radius: 75px;
    /* box-shadow: 0 4px 8px rgba(12, 4, 87, 0.2);*/
    /* pointer-events: none; */

    display: flex;
    justify-content: space-around;
    position: relative;
    left: 100px;
    animation: carousel 3s linear 0;

    justify-content: center;
    align-items: center;
}
.carousel .card .cards{
    overflow: hidden;
}
.carousel .card.cards-1{
    background: rgb(88,158,225);
}
.carousel .card.cards-2{
    background: rgb(122,88,255);
}
.carousel .card.cards-3{
    background: rgb(255,245,0);
    overflow: hidden;
}
.carousel .card.cards-4{
    background: rgb(178,233,190);
    overflow: hidden;
}

@keyframes carousel {
    80%{
    left: -185px;
    }
    90%{
    left: 185px;
    }
}
label{
    position: fixed;
    top: 80%;
    left: 47%;
    transform: translate(-50%,-50%);
    padding: 5px 20px;
    border-radius: 20px;
    border: 3px solid #04090c;
    cursor: pointer;
    transition: all 0.3s ease;
}
label:hover{
    background-color: rgb(247, 176, 176);
}
.dot2{
    margin: 0 60px;
}
#dot:checked ~ .card{
    transition: all 0.3s ease;
    left: -185px;
}
.wrapper .carousel:hover .card{
    animation-play-state: paused;
}
@media (max-width: 980px) {
    .wrapper{
    width: 100%;
    padding: 20px 20px;
    }
    @keyframes carousel {
    80%{
        left: -285px;
    }
    90%{
        left: 285px;
    }
    }
}

/*FORMAS Y ANIMACION*/
#caja1{
    background-color: rgb(255,154,204);
    border-radius: 50%;/*crea el circulo*/
    height: 250px;
    width: 250px;

    color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}
#caja2{
    background-color: rgb(205,255,1);
    transform: rotate(45deg);/*crea el rombo*/
    height: 200px;
    width: 200px;

    color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    
}
#caja3{
    background-color: rgb(224,132,255);
    height: 250px;
    width: 250px;
    clip-path: polygon(50% 0%, 83% 17%, 100% 50%, 83% 83%, 50% 100%, 17% 83%, 0% 50%, 17% 17%); /* Crea la forma de octágono */
    
    color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 40px;

}
#caja4{
    background-color: rgb(255,110,92);
    width: 250px;
    height: 250px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Crea la forma de triángulo */

    color: transparent;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

/*Parte de Animacion*/

#caja1:hover{
    animation: cambiar1 0.2s linear 0s 1 normal forwards  running;

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    color: black;
}
@keyframes cambiar1{
    from{
        border-radius: 50%;/*crea el circulo*/
        height: 250px;
        width: 250px;
    }
    to{
        border-radius: 75px;/*crea el circulo*/
        height: 325px;
        width: 325px;
    }
}

#caja2:hover{
    animation: cambiar2 0.2s linear 0s 1 normal forwards  running;

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    color: black;
}
@keyframes cambiar2{
    from{
        transform: rotate(45deg);/*crea el rombo*/
        height: 200px;
        width: 200px;
    }
    to{
        transform: rotate(0deg);
        height: 325px;
        width: 325px;
        border-radius: 75px;
    }
}

#caja3:hover{
    animation: rotar 1s forwards;  

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    color: black;
}
#caja4:hover{
    animation: rotar 1s forwards;  

    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    text-align: center;
    color: black;
}
@keyframes rotar {
    0% {
    transform: scale(1) rotate(0deg);
    
    }
    100% {
    transform: scale(1) rotate(360deg) ;
    clip-path: none ;
    height: 325px;
    width: 325px;
    border-radius: 75px;
    
    }
}

/*telefono*/
.telefono-frame {
    background: none;
    border: 6px solid #c51f1f;
    border-radius: 25px;
    width: 124.5px;
    height: 231.7px;
}
.telefono-screen {
    background: none;
    border: 3px solid #1d1d1b;
    border-radius: 25px;
    width: 124.5px;
    height: 231.7px;
}
