
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(245,244,246);
    font-family: 'Source Code Pro', monospace;
}
h1{ 
    font-family: 'Playfair Display', serif;
}

#h1{
    padding: 25px;
}
#h4{
    padding: 0 0 10px 25px;
}
#btn{
    color: #fff;
    background-color: black;
    padding: 10px 10px;
    border-radius: 20px;
    
}
#btndiv{
    padding: 0 0 10px 25px;
}
.header {
    margin: 0 5px;
    padding: 15px 10px; 
    border-bottom: 1.5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.secciones div {
    display: inline-block;
    padding: 0px 20px;
}

.logo > a div {
    display:flex;
    align-items: center;
}

.sesion div {
    display: inline-block;
}

/*CARRUSEL*/
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.wrapper .carousel{
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.wrapper .card{
    /*background: rgb(47, 47, 201);*/
    line-height: 250px;
    text-align: center;
    /* color: #fff;*/
    font-size: 90px;
    width: 350px;
    font-weight: 600;
    margin: 20px 20px;
    border-radius: 75px;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    pointer-events: none;
}

.wrapper .card{
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 185px;
    animation: carousel 3s linear 0;
}
.carousel .card .cards{
    overflow: hidden;
}
.carousel .card.cards-1{
    background: rgb(88,158,225);
}
.carousel .card.cards-2{
    background: rgb(122,88,255);
}
.carousel .card.cards-3{
    background: rgb(255,245,0);
}
.carousel .card.cards-4{
    background: rgb(178,233,190);
}

@keyframes carousel {
    80%{
    left: -185px;
    }
    90%{
    left: 185px;
    }
}
label{
    position: fixed;
    top: 80%;
    left: 47%;
    transform: translate(-50%,-50%);
    padding: 5px 20px;
    border-radius: 20px;
    border: 3px solid #04090c;
    cursor: pointer;
    transition: all 0.3s ease;
}
label:hover{
    background-color: rgb(247, 176, 176);
}
.dot2{
    margin: 0 60px;
}
#dot:checked ~ .card{
    transition: all 0.3s ease;
    left: -185px;
}
.wrapper .carousel:hover .card{
    animation-play-state: paused;
}
@media (max-width: 980px) {
    .wrapper{
    width: 100%;
    padding: 20px 20px;
    }
    @keyframes carousel {
    80%{
        left: -285px;
    }
    90%{
        left: 285px;
    }
    }
}